@import "../../../styles/variables";

.profile-person {
  position: relative;
  height: 100%;
  display: flex;
  z-index: 5;
  margin-bottom: 20px;

  &__picture {
    position: absolute;
    background: var(--background-default);
    width: $avatarSize + $avatarBorder;
    height: $avatarSize + $avatarBorder;
    left: $offset;
    top: -$avatarSize / 2;
    transform: translateX($offset);
    border-radius: $avatarRadius;
    padding: $avatarBorder / 2;

    img {
      width: $avatarSize;
      height: $avatarSize;
      border-radius: inherit;
    }
  }

  &__header {
    margin-top: 5px;
    width: 100%;
    height: $avatarSize / 2;
    margin-left: $offset + $avatarSize/2 + $avatarBorder;
    padding-left: $avatarSize/2;
    background: #fff;

    .info {
      display: flex;
      justify-content: space-between;
      height: 100%;
      padding: 10px;

      .nameAbout {
        max-width: 350px;

        .fullName {
          font-size: 22px;
          font-weight: 700;
          color: #333333;
          text-transform: capitalize;
          position: relative;

          &:after {
            content: "";
            width: 40px;
            height: 1px;
            position: absolute;
            bottom: -5px;
            left: 0;
            background: #dc4734;
          }
        }
      }

      .editProfile {
        margin-right: 10px;
        align-self: center;
      }
    }
  }
}
