.dialog {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid #c4c4c7;

  .dialogPhoto {
    cursor: pointer;

    img {
      width: 64px;
      height: 64px;
      border-radius: 100%;
    }
  }

  a {
    font-size: 16px;
    display: block;
    margin: 10px 0 0 20px;
    cursor: pointer;

    &.active {
      font-size: 16px;
    }
  }
}

.dialog:last-child {
  border-bottom: none;
}

.dialog:hover {
  background: var(--hover);
}